

.footerWrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 10vh;
}

.socialLinks{
    display: flex;
    gap: 20px;
    font-size: 30px;
    color: white;
}
li{
    color: white;
}
.socialLinks a {
    color: white;
}
.copy{
    text-align: center;
    margin: 0;
    color: white;
    background-color: black;
    border-top: 1px solid;
}